node-red/flows.json
[
    {
        "id": "5ff7446b81f56402",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89d066bb56b8ed35",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d91841b0a6b4daf",
        "type": "aedes broker",
        "z": "5ff7446b81f56402",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 270,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3bc9eeee4b2913c6",
        "type": "mqtt out",
        "z": "5ff7446b81f56402",
        "name": "",
        "topic": "test",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "89d066bb56b8ed35",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "3303027531e5d39b",
        "type": "mqtt in",
        "z": "5ff7446b81f56402",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "89d066bb56b8ed35",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 140,
        "wires": [
            [
                "a6f45fae970a484c"
            ]
        ]
    },
    {
        "id": "71a997f3da91079c",
        "type": "inject",
        "z": "5ff7446b81f56402",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "3bc9eeee4b2913c6"
            ]
        ]
    },
    {
        "id": "a6f45fae970a484c",
        "type": "debug",
        "z": "5ff7446b81f56402",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 140,
        "wires": []
    }
]